<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <h1>Enter Movie information Below</h1>

    <div class="container">
      <form>
        <div class="mb-3">
          <label for="movieName" class="form-label">Enter Movie Name</label>
          <input type="text" class="form-control" id="movieName" >
        </div>
        
        <div class="mb-3">
          <label for="movieLink" class="form-label">Enter Movie link</label>
          <input type="url" class="form-control" id="movieLink">
        </div>
        
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Choose the Picture Of The Movie</label>
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Commentary</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <select class="form-select" aria-label="Default select example" >
          <option selected>Select How You Rate The Movie</option>
          <option value="1">*</option>
          <option value="2">**</option>
          <option value="3">***</option>
          <option value="4">****</option>
          <option value="5">*****</option>
        </select>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      <br><br><br>

      <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="card" style="width: 18rem;">
          <img src="/assets/Dogma-1999-Movie-Poster.jpg" class="card-img-top" alt="Dogma-1999-Movie-Poster.jpg">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
  </body>
</html>
